body{
    margin: 0;
    padding: 0;
    background: #708d00;
}
.flip_card{
    position: absolute;
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) perspective(2000px);
    background: #fff;
    transform-style: preserve-3d;
    box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 100px rgba(0,0,0,.5);
    transition: 1s;

}
.flip_card:hover{
    transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
    cursor: pointer;

}
.flip_card:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #475b02;
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.flip_card:after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #7EA301;
    transform-origin: left;
    transform: skewY(-45deg);
}

.flip_card .imgbox{
    width: 300px;
    height: 400px;
    position: relative;
    transform-origin: left;
    z-index: 1;
    transition: 1s cubic-bezier(.15,1.7,.84,.58);
}
.flip_card .imgbox img{
    height: 100%;
    width: 100%;
    /*filter: grayscale(100%);*/
}

/*.flip_card .imgbox img:hover {*/

    /*filter: grayscale(0%);*/
/*}*/
.flip_card:hover .imgbox{
    transform: rotateY(-135deg);
}
.flip_card .details{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
}
