/* card-1 style start*/
.card-style{
display: flex;
}
.container1{
    left: 3%;
    position: absolute;
    width: 300px;
    height: 400px;
    background: #fff;
    overflow: hidden;
}
.container1:before{
    content: '';
    position: absolute;
    top: 0;
    left: 170%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.2);
    z-index: 1;
    transform: skewX(45deg);
    transition: .8s;
}
.container1:hover:before{
    left: -170%;
    transition: 1.5s;
}
.container1 img{
    width: 100%;
    filter: grayscale(100%);
    transition: 2s;
}
.container1:hover img{
    filter: grayscale(0%);
    transform: scale(1.2);
    cursor: pointer;

}
.container1 h2{
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background: #fff;
    color: #262626;
    transform-origin: bottom;
    transition: .5s;
    transform: perspective(500px)rotateX(90deg);

}


.container1:hover h2{
    transform: perspective(500px) rotateX(0deg);

}


.container1 ul{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.container1 ul li{
    list-style: none;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transform-origin: left;
    transition: .5s;
    border-bottom: 1px solid rgba(0,0,0,.1);
    transform: perspective(1000px) rotateY(90deg);

}
.container1 ul li .fab{
    color: #262626;

}
.container1:hover ul li{
    transform: perspective(1000px) rotateY(0deg);
}
.container1:hover ul li :nth-child(1){
    transition-delay: .5s

}

.container1:hover ul li:nth-child(2) {
    transition-delay: .8s
}

.container1:hover ul li:nth-child(3) {
    transition-delay: 1.1s
}

.container1:hover ul li:nth-child(4) {
    transition-delay: 1.5s
}

/* card-1 style end*/
.card2{
    left: 20%;
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: .5s;
}
.card2 .front{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .5s;
}
.card2:hover .front{
    transform: rotateX(-180deg);
}
.card2 .back {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: .5s;
}
.card2 .back:before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.1);
}
.card2:hover .back {
    transform: rotateX(0deg);
}
.front img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.card2 .back .details{
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card2 .back .details h2{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}

.card2 .back .details h2 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    color: #fff;
}

.card2 .back .details h2 span{
    color: #a7a7a7;
    font-size: 20px;
}
.social-icon{
    padding: 10px 0;
}

.social-icon a{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #262626;
    color: #fff;
    border-radius: 50%;
    transition: 0.5s;
}
.social-icon a:hover:nth-child(1){
    background: #3b5998;
    transform: rotate(360deg);
}

.social-icon a:hover:nth-child(2) {
    background: #55acee;
    transform: rotate(360deg);
}

.social-icon a:hover:nth-child(3) {
    background: #e4405f;
    transform: rotate(360deg);
}

.social-icon a:hover:nth-child(4) {
    background: #0077B5;
    transform: rotate(360deg);
}