
/*circle social icon style start*/
.social-icon-box{
    width: 100%;
    height: auto;
    margin: auto;

}
.social-icon-box h3{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff5700;
}
.social-icon-list{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;

}
.social-icon-list ul li{
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    background: #f00;
    border-radius: 100%; /*for square 0px*/
    margin: 0 10px;
}
.social-icon-list ul li a{
    display: block;
    color: #fff;
    font-size: 50px;
}
.social-icon-list ul li a i{
    line-height: 80px;
}
.social-icon-list ul li:nth-child(1){
    background-color: #3b5999;
}

.social-icon-list ul li:nth-child(2) {
    background-color: #0084ff;
}

.social-icon-list ul li:nth-child(3) {
    background-color: #55acee;
}

.social-icon-list ul li:nth-child(4) {
    background-color: #e4405f;
}

.social-icon-list ul li:nth-child(5) {
    background-color: #cd201f;
}

.social-icon-list ul li:nth-child(6) {
    background-color: #dd4b39;
}

.social-icon-list ul li:nth-child(7) {
    background-color: #0077B5;
}

.social-icon-list ul li:nth-child(8) {
    background-color: #00AFF0;
}
.social-icon-list ul li:hover{
    background: #ff5700;
    border-radius: 0; /*for circle 100%*/
    transition: .5s;
}

/*circle social icon style end*/

<!--
/*glowing hover effect start*/
.glowing-icon-box {
    width: 100%;
    height: auto;
    margin: auto;
    background: #262626;

}

.glowing-icon-box h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #b92b27;
}

.glowing-icon-list{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;


}
.glowing-icon-list ul li{
    display: inline-block;
    list-style: none;
    margin: 25px 15px 50px 15px;
}
.glowing-icon-list ul li a{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background: #333;
    border-radius: 50%;
    font-size: 40px;
    color: #666;
    transition: .5s;
}
.glowing-icon-list ul li a:before{
   content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.glowing-icon-list ul li a:hover:before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}

.glowing-icon-list ul li a:hover {
    color: #ffee10;
    border: 3px solid #ffee10;
    box-shadow: 0 0 15px #ffee10;
    text-shadow: 0 0 15px #ffee10;
    transition: .4s;
}
/*glowing hover effect end*/
/*iso metric icon start*/
.iso-metric-box{
    width: 100%;
    height: auto;
    margin: auto;
    background: #bdc3c7;

}

.iso-metric-box h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #b92b27;
}

.iso-icon-list {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;

}
.iso-icon-list ul{
   padding-bottom: 40px;
}
.iso-icon-list ul li{
    display: inline-block;
    list-style: none;
    margin: 30px 30px;
}
.iso-icon-list ul li a .fab{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
}
.iso-icon-list ul li a{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
.iso-icon-list ul li a:before{
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

.iso-icon-list ul li a:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

.iso-icon-list ul li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px); /* translate(20px,-20px) for up item*/

    box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
    transition: .5s;

}
.iso-icon-list ul li a:hover .fab{
    color: #fff;
}

.iso-icon-list ul li:hover:nth-child(1) a,
.iso-icon-list ul li:hover:nth-child(1) a:before,
.iso-icon-list ul li:hover:nth-child(1) a:after {
    background-color: #3b5999;
}

.iso-icon-list ul li:hover:nth-child(2) a,
.iso-icon-list ul li:hover:nth-child(2) a:before,
.iso-icon-list ul li:hover:nth-child(2) a:after {
    background-color: #0084ff;
}

.iso-icon-list ul li:hover:nth-child(3) a,
.iso-icon-list ul li:hover:nth-child(3) a:before,
.iso-icon-list ul li:hover:nth-child(3) a:after {
    background-color: #55acee;
}

.iso-icon-list ul li:hover:nth-child(4) a,
.iso-icon-list ul li:hover:nth-child(4) a:before,
.iso-icon-list ul li:hover:nth-child(4) a:after {
    background-color: #e4405f;
}

.iso-icon-list ul li:hover:nth-child(5) a,
.iso-icon-list ul li:hover:nth-child(5) a:before,
.iso-icon-list ul li:hover:nth-child(5) a:after {
    background-color: #cd201f;
}

.iso-icon-list ul li:hover:nth-child(6) a,
.iso-icon-list ul li:hover:nth-child(6) a:before,
.iso-icon-list ul li:hover:nth-child(6) a:after {
    background-color:#dd4b39;
}

.iso-icon-list ul li:hover:nth-child(7) a,
.iso-icon-list ul li:hover:nth-child(7) a:before,
.iso-icon-list ul li:hover:nth-child(7) a:after {
    background-color: #0077B5;
}

.iso-icon-list ul li:hover:nth-child(8) a,
.iso-icon-list ul li:hover:nth-child(8) a:before,
.iso-icon-list ul li:hover:nth-child(8) a:after {
    background-color: #00AFF0;
}

/*.iso-icon-list ul li a:hover {*/
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);*/
/*}*/

/*.iso-icon-list ul li:nth-child(1) a:hover .fab {*/
    /*color: #3b5999;*/
/*}*/

/*.iso-icon-list ul li:nth-child(2) a:hover .fab {*/
    /*color: #0084ff;*/
/*}*/

/*.iso-icon-list ul li:nth-child(3) a:hover .fab {*/
    /*color: #55acee;*/
/*}*/

/*.iso-icon-list ul li:nth-child(4) a:hover .fab {*/
    /*color: #e4405f;*/
/*}*/

/*.iso-icon-list ul li:nth-child(5) a:hover .fab {*/
    /*color: #cd201f;*/
/*}*/

/*.iso-icon-list ul li:nth-child(6) a:hover .fab {*/
    /*color: #dd4b39;*/
/*}*/

/*.iso-icon-list ul li:nth-child(7) a:hover .fab {*/
    /*color: #0077B5;*/
/*}*/

/*.iso-icon-list ul li:nth-child(8) a:hover .fab {*/
    /*color: #00AFF0;*/
/*}*/
/*iso metric icon end*/
/*sleek icon start*/
.sleek-icon-box {
    width: 100%;
    height: auto;
    margin: auto;
    background: #DCDCDC;

}
.sleek-icon-box h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #b92b27;
}

.sleek-icon-list {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;

}
.sleek-icon-list ul{
    padding-bottom: 40px;
}
.sleek-icon-list ul li{
    display: inline-block;
    list-style-type: none;
}
.sleek-icon-list ul li a{
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 15px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}
.sleek-icon-list ul li a .fab{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}
.sleek-icon-list ul li a:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.sleek-icon-list ul li:nth-child(1) a:hover .fab{
    color: #3b5999;
}

.sleek-icon-list ul li:nth-child(2) a:hover .fab {
    color: #0084ff;
}

.sleek-icon-list ul li:nth-child(3) a:hover .fab {
    color: #55acee;
}

.sleek-icon-list ul li:nth-child(4) a:hover .fab {
    color: #e4405f;
}

.sleek-icon-list ul li:nth-child(5) a:hover .fab {
    color: #cd201f;
}

.sleek-icon-list ul li:nth-child(6) a:hover .fab {
    color: #dd4b39;
}

.sleek-icon-list ul li:nth-child(7) a:hover .fab {
    color: #0077B5;
}

.sleek-icon-list ul li:nth-child(8) a:hover .fab {
    color: #00AFF0;
}
/*sleek icon end*/
/*social media  button5 start*/
.sm-box {
    width: 100%;
    height: auto;
    margin: auto;
    background: #000;

}

.sm-box h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #b92b27;
}

.sm-list {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
.sm-list ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    color: #262626;
    font-size: 24px;
    z-index: 1;
    transition: .5s ease-in-out;
}
.sm-list ul li a{
    color: #000;
}

.sm-list ul li a:hover .fab{
    color: #fff;
}
.sm-list ul li:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: #ccc;
    z-index: -1;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s ease-in-out;
}

.sm-list ul li:after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(255,255,255,.3);
    transition: .5s ease-in-out;
    transition-delay: .5s;
}
.sm-list ul li:hover:before{
    left: 0;
    transform: scale(.9);
}

.sm-list ul li:hover:after {
    right: 0;

}

.sm-list ul li:nth-child(1):before {
    background-color: #3b5999;
}

.sm-list ul li:nth-child(2):before {
    background-color: #0084ff;
}

.sm-list ul li:nth-child(3):before {
    background-color: #55acee;
}

.sm-list ul li:nth-child(4):before {
    background-color: #e4405f;
}

.sm-list ul li:nth-child(5):before {
    background-color: #cd201f;
}

.sm-list ul li:nth-child(6):before {
    background-color: #dd4b39;
}

.sm-list ul li:nth-child(7):before {
    background-color: #0077B5;
}

.sm-list ul li:nth-child(8):before {
    background-color: #00AFF0;
}

/*social media  button5 end*/

/*social media  button-6 start*/
.sm-6-box {
    width: 100%;
    height: auto;
    margin: auto;
    background: #000;

}

.sm-6-box h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #b92b27;
}

.sm-6-list {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
.sm-6-list ul li{
    list-style: none;
    display: inline-block;
}
.sm-6-list ul li a{
    width: 60px;
    height: 60px;
    background-color: #fff;
    line-height: 60px;
    display: block;
    text-align: center;
    font-size: 24px;
    margin: 0 10px;
    border-radius: 50%;
    border: 3px solid #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;

}

.sm-6-list ul li a .fab{
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.sm-6-list ul li a:hover .fab{
    color: #fff;
    transform: rotateY(360deg);
}
.sm-6-list ul li a:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.sm-6-list ul li a:hover:before{
    top: 0;
}
.sm-6-list ul li:nth-child(1) a:before{
    background: #3b5999;
}

.sm-6-list ul li:nth-child(2) a:before {
    background: #0084ff;
}

.sm-6-list ul li:nth-child(3) a:before {
    background: #55acee;
}

.sm-6-list ul li:nth-child(4) a:before {
    background: #e4405f;
}


.sm-6-list ul li:nth-child(5) a:before {
    background: #cd201f;
}

.sm-6-list ul li:nth-child(6) a:before {
    background: #dd4b39;
}

.sm-6-list ul li:nth-child(7) a:before {
    background: #0077B5;
}

.sm-6-list ul li:nth-child(8) a:before {
    background: #00AFF0;
}
/*social media  button-6 end*/
/*hexagonal social media  button start*/
.hg-icon-box {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    background: #000;
    padding-bottom: 135px;

}

.hg-icon-box h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #b92b27;
}

.hg-icon-list ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;

}

.hg-icon-list ul li {
    list-style: none;
    position: relative;
    margin: 0 10px;
}

.hg-icon-list ul li a{
    width: 70px;
    height: 40px;
    background: #fff;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 36px;
    transition: .5s;
    color: #fff;
}
.hg-icon-list ul li a:hover{
    transform: translateY(-20px) rotate(360deg);
}
.hg-icon-list ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transform: rotate(60deg);

}

.hg-icon-list ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transform: rotate(-60deg);

}
.hg-icon-list ul li:nth-child(1) a,
.hg-icon-list ul li:nth-child(1) a:before,
.hg-icon-list ul li:nth-child(1) a:after
{
    background-color: #3b5999;
}

.hg-icon-list ul li:nth-child(2) a,
.hg-icon-list ul li:nth-child(2) a:before,
.hg-icon-list ul li:nth-child(2) a:after {
    background-color: #0084ff;
}

.hg-icon-list ul li:nth-child(3) a,
.hg-icon-list ul li:nth-child(3) a:before,
.hg-icon-list ul li:nth-child(3) a:after {
    background-color: #55acee;
}

.hg-icon-list ul li:nth-child(4) a,
.hg-icon-list ul li:nth-child(4) a:before,
.hg-icon-list ul li:nth-child(4) a:after {
    background-color: #e4405f;
}

.hg-icon-list ul li:nth-child(5) a,
.hg-icon-list ul li:nth-child(5) a:before,
.hg-icon-list ul li:nth-child(5) a:after {
    background-color: #cd201f;
}

.hg-icon-list ul li:nth-child(6) a,
.hg-icon-list ul li:nth-child(6) a:before,
.hg-icon-list ul li:nth-child(6) a:after {
    background-color: #dd4b39;
}

.hg-icon-list ul li:nth-child(7) a,
.hg-icon-list ul li:nth-child(7) a:before,
.hg-icon-list ul li:nth-child(7) a:after {
    background-color: #0077B5;
}

.hg-icon-list ul li:nth-child(8) a,
.hg-icon-list ul li:nth-child(8) a:before,
.hg-icon-list ul li:nth-child(8) a:after {
    background-color: #00AFF0;
}
/*hexagonal social media  button end*/
/*CSS Social Media Sharing Button UI Design With Cool Hover Effects start*/

.sb-icon-box{
    text-align: center;
    position: relative;

}
.sb-icon-box h3{
    padding-bottom: 150px;
}
.sb-icon-list ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    padding: 0;
    margin: 0;
    width: 512px;
    height: 60px;
}

.sb-icon-list ul:before{
    content: '\f1e0';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    margin: 0 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff00ff, #8a2be2);
    border-radius: 30px;
    transition: 0.5s;
    z-index: 1;
}
.sb-icon-list ul:hover:before{
    width: 60px;
}
.sb-icon-list ul li{
    position: absolute;
    list-style: none;
    transition: 1s;
}

.sb-icon-list ul li a{
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #262626;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    margin: 0 5px;
    font-size: 30px;
    transition: 1s;
}

.sb-icon-list ul li:nth-child(1) a {
    background: #3b5999;
}

.sb-icon-list ul li:nth-child(2) a {
    background: #0084ff;
}

.sb-icon-list ul li:nth-child(3) a {
    background: #55acee;
}

.sb-icon-list ul li:nth-child(4) a {
    background: #e4405f;
}

.sb-icon-list ul li:nth-child(5) a {
    background: #cd201f;
}

.sb-icon-list ul li:nth-child(6) a {
    background: #dd4b39;
}

.sb-icon-list ul li:nth-child(7) a {
    background: #0077B5;
}

.sb-icon-list ul li:nth-child(8) a {
    background: #00AFF0;
}
.sb-icon-list ul:hover li:nth-child(1) a{
    transform: translateX(64px) rotate(360deg);
    transition-delay: 1.4s;
}

.sb-icon-list ul:hover li:nth-child(2) a {
    transform: translateX(128px) rotate(360deg);
    transition-delay: 1.2s;
}

.sb-icon-list ul:hover li:nth-child(3) a {
    transform: translateX(192px) rotate(360deg);
    transition-delay: 1s;
}

.sb-icon-list ul:hover li:nth-child(4) a {
    transform: translateX(256px) rotate(360deg);
    transition-delay: .8s;
}

.sb-icon-list ul:hover li:nth-child(5) a {
    transform: translateX(320px) rotate(360deg);
    transition-delay: .6s;
}

.sb-icon-list ul:hover li:nth-child(6) a {
    transform: translateX(384px) rotate(360deg);
    transition-delay: .4s;
}

.sb-icon-list ul:hover li:nth-child(7) a {
    transform: translateX(448px) rotate(360deg);
    transition-delay: .2s;
}

.sb-icon-list ul:hover li:nth-child(8) a {
    transform: translateX(512px) rotate(360deg);
    transition-delay: 0s;
}
/*CSS Social Media Sharing Button UI Design With Cool Hover Effects end*/
/*Sliding social media icon start*/
.sliding-icon-box{
    text-align: center;
    position: relative;

}

.sliding-icon-box h3 {
    padding-bottom: 150px;
}
.sliding-icon-list ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    padding: 0;
    margin: 0;
}
.sliding-icon-list ul li{
    position: relative;
    list-style: none;
}
.sliding-icon-list ul li a{
    width: 60px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    white-space: nowrap;
    text-decoration: none;
    transition: width .5s;
    box-sizing: border-box;
}


.sliding-icon-list ul li:hover a{
    width: 200px;
    text-align: center;
}

.sliding-icon-list ul li a .fab{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    box-sizing: border-box;
    color: #fff;
    border-right: 2px solid #fff;
}
.sliding-icon-list ul li a span{
    color: #fff;
    padding-left: 10px;
    font-size: 24px;
}
.sliding-icon-list ul li:nth-child(1){
    background-color: #3b5999;
}

.sliding-icon-list ul li:nth-child(2){
    background-color: #0084ff;
}

.sliding-icon-list ul li:nth-child(3){
    background-color: #55acee;
}

.sliding-icon-list ul li:nth-child(4){
    background-color: #e4405f;
}

.sliding-icon-list ul li:nth-child(5){
    background-color: #cd201f;
}

.sliding-icon-list ul li:nth-child(6){
    background-color: #dd4b39;
}

.sliding-icon-list ul li:nth-child(7){
    background-color: #0077B5;
}

.sliding-icon-list ul li:nth-child(8){
    background-color: #00AFF0;
}
/*Sliding social media icon end*/
.sliding-icon-box2 h3{
    margin-bottom: 50px;
    text-align: center;
}
.sliding-icon-list2{
    position: relative;
}
.sliding-icon-list2 ul{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    position: absolute;

}
.sliding-icon-list2 ul li{
    list-style-type: none;
    margin: 0 5px;
    display: inline-block;

}
.sliding-icon-list2 ul li a{
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    font-size:24px;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    background: #f1f1f1;
    text-decoration: none;
    overflow: hidden;
}

.sliding-icon-list2 ul li a i{
    display: block;
    width: 100%;
    color: #777;
    margin-top: 20px;
    transition: .5s;
}

.sliding-icon-list2 ul li:hover a i:nth-child(1) {
    transform: translateY(-45px);
}

.sliding-icon-list2 ul li:hover a i:nth-child(2) {
    transform: translateY(-45px);
    color: #fff;
}

.sliding-icon-list2 ul li:hover:nth-child(1) a{
    background-color: #3b5999;
}

.sliding-icon-list2 ul li:hover:nth-child(2) a{
    background-color: #0084ff;
}

.sliding-icon-list2 ul li:hover:nth-child(3) a{
    background-color: #55acee;
}

.sliding-icon-list2 ul li:hover:nth-child(4) a{
    background-color: #e4405f;
}

.sliding-icon-list2 ul li:hover:nth-child(5) a{
    background-color: #cd201f;
}

.sliding-icon-list2 ul li:hover:nth-child(6) a{
    background-color: #dd4b39;
}

.sliding-icon-list2 ul li:hover:nth-child(7) a{
    background-color: #0077B5;
}

.sliding-icon-list2 ul li:hover:nth-child(8) a{
    background-color: #00AFF0;
}