body{
    margin: 0;
    padding: 0;
    background-color: #ddd;
}
.wrapper{
    width: 1170px;
    margin: 5% auto;
}
.wrapper img{
    width: 22%;
   display:inline-flex;
    margin: 5px;
}
.img-two:hover{
    -webkit-filter:blur(px);
    filter: blur(3px);
    transition: .8s ease;
    cursor: pointer;

}

.img-four:hover {
    -webkit-filter: contrast(4);
    filter: contrast(4);
    transition: .8s ease;
    cursor: pointer;

}

.img-six:hover {
    -webkit-filter: saturate(7);
    filter: saturate(7);
    transition: .8s ease;
    cursor: pointer;

}

.img-ten:hover {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    transition: .8s ease;
    cursor: pointer;

}

.img-seven:hover {
    -webkit-filter: invert(.8);
    filter: invert(.8);
    transition: .8s ease;
    cursor: pointer;

}

.img-three:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .8s ease;
    cursor: pointer;

}

.img-eight:hover {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    transition: .8s ease;
    cursor: pointer;

}

.img-one:hover {
    animation: change 4s infinite;
    width: 25%;
    height: 25%;
    transition: .8s ease;
    cursor: pointer;
}
@keyframes change {
    0% {
        -webkit-filter: sepia(0) saturate(2);
        filter: sepia(0) saturate(2);
    }
    50% {
        -webkit-filter: sepia(1) saturate(4);
        filter: sepia(1) saturate(4);
    }
    100% {
        -webkit-filter: sepia(0) saturate(2);
        filter: sepia(0) saturate(2);
    }

}

.img-nine:hover {
    -webkit-filter: contrast(200%) brightness(150%);
    filter: contrast(200%) brightness(150%);
    transition: .8s ease;
    cursor: pointer;

}

.img-five:hover {
    animation: change 4s infinite;
    transition: .8s ease;
    cursor: pointer;

}
@keyframes change {
    0%{
        -webkit-filter: sepia(0) saturate(2);
        filter: sepia(0) saturate(2);
    }
    50% {
        -webkit-filter: sepia(1) saturate(4);
        filter: sepia(1) saturate(4);
    }
    100% {
        -webkit-filter: sepia(0) saturate(2);
        filter: sepia(0) saturate(2);
    }

}
/*rotating box*/

.rotating-box{
    width: 300px;
    height: 300px;
    margin: 10px auto;
    perspective: 800px;
}
.single-rb{
    width: 300px;
    animation: rotate 15s linear infinite;
    transform-style: preserve-3d;
    animation-play-state: paused;
    margin-top: 120px;
}
.single-rb img{
    width: 300px;
    height: 300px;
}
.single-rb:hover{
    animation-play-state: running;
    cursor: pointer;
}
.single-rb div{
    position: absolute;
    width: 300px;
    height: 300px;
}
.front-side{
    transform: translateZ(100px);
}
.back-side{
    transform: rotateY(180deg)
    translateZ(200px);

}
.left-side{
    transform: rotateY(-90deg)
    translateX(-200px);
    transform-origin:left;
}

.right-side {
    transform: rotateY(90deg)
    translateX(200px);
    transform-origin: right;
}

.top-side {
    transform: rotateX(-90deg)
    translateY(-200px);
    transform-origin: top;
}

.bottm-side {
    transform: rotateX(90deg)
    translateY(200px);
    transform-origin: bottom;
}
@keyframes rotate {
    0%{transform: rotateY(0);}
    100%{transform: rotateY(360deg);}

}

/*Heartbeat animation*/
.heart-wrapper{
    width: 250px;
    text-align: center;
    line-height: 200px;
    font-size: 180px;
    position:static;
    background-color: black;

}
.heart-wrapper i{
    color: red;
    animation: heartbeat 0.8s linear infinite;
}
@keyframes heartbeat {
0%{transform: scale(1,1)}
50%{transform: scale(0.9,0.9)}
100%{transform: scale(1,1)}
}
/*rain animation*/

/*.background{*/
    /*background: url(../img/ba.jpg);*/
    /*background-size: cover;*/

/*}*/
/*.rain{*/
    /*height: 100vh;*/
    /*background: url(../img/rain.png);*/
    /*animation: rain .3s linear infinite;*/
/*}*/
/*.rain:before{*/
    /*content: '';*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: #fff;*/
    /*animation: lighting 4s linear infinite;*/
    /*opacity: 0;*/
/*}*/
/*@keyframes rain*/
/*{*/

    /*0%*/
    /*{*/
        /*background-position: 0 0;*/
    /*}*/
    /*100%*/
    /*{*/
        /*background-position: 20% 100%;*/
    /*}*/
/*}*/
/*@keyframes lighting*/
/*{*/
    /*0%{*/
        /*opacity: 0;*/
    /*}*/
    /*10% {*/
        /*opacity: 0;*/
    /*}*/
    /*11% {*/
        /*opacity: 1;*/
    /*}*/
    /*14% {*/
        /*opacity: 0;*/
    /*}*/
    /*20% {*/
        /*opacity: 0;*/
    /*}*/
    /*21% {*/
        /*opacity: 1;*/
    /*}*/
    /*24% {*/
        /*opacity: 0;*/
    /*}*/
    /*104% {*/
        /*opacity: 0;*/
    /*}*/
/*}*/