<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breadcrumbs Design</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/breadcrumbs.css">
</head>
<body>
<!--{% block breadcrumbs %}
&lt;!&ndash;'django_bootstrap_breadcrumbs', it's in  installed app&ndash;&gt;
    <div class="container">
        <div class="">
            <div class="">
            <div class="breadcrumb-style">
                {% if self.get_ancestors|length > 1 %}
                    <ul class="breadcrumb " style="margin-top: 50px">
                        {% for page in self.get_ancestors %}
                            {% if page.is_root == False and page.url != '/' %}
                                <li>
                                    <a href="{% pageurl page %}">{{ page.slug|capfirst }}</a>
                                    <i class="fas fa-long-arrow-alt-right" style="margin: 0 10px"></i>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="active">{{ page.slug|capfirst }}</li>
                    </ul>
                {% endif %}
            </div>
            </div>
        </div>
    </div>

{% endblock breadcrumbs %}-->


<div class="bg-white py-3 mb-4">
    <div class="container">
        <ul class="breadCrumbs list-inline mb-0">

            <li><a href="#" title="Home" class="animation">Home</a></li>
            <li><a href="#" title="Home" class="animation">Home</a></li>


            <div class="clear"></div>
        </ul>
    </div>
</div>

</body>
</html>